# Node.js dependencies
node_modules

# Logs
*.log

# Archivos del sistema operativo
.DS_Store
npm-debug.log
Thumbs.db
.git

# Archivos de configuración de editor
.vscode/
.idea/

# Archivos sensibles
.env

# Docker
docker-compose.yml
Dockerfile
